.header {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.header .logo img {
    height: 50px;
    width: auto;
    display: block;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: #f0f0f0;
    text-decoration: none;
}

.nav a.active {
    color: #fea116;
    border-bottom: 2px solid #fea116;
}


body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    color: #f0f0f0;
    background-color: #121212;
}
.login-container {
    background-image: url('images/login.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    width: 300px;
    padding: 40px;
    background: rgba(18, 18, 18, 0.8);
    border-radius: 20px;
}
