

.header {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.header .logo img {
    height: 50px;
    width: auto;
    display: block;
}

body {
    margin: 0;
    padding-top: 60px;
    font-family: 'Segoe UI', sans-serif;
    color: #f0f0f0;
    background-color: #121212;
}


.header .container {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 0 60px;               
    flex-wrap: nowrap;              
}


.nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav a {
   
    color: #f0f0f0;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.4px;
    white-space: nowrap;


}
.nav a.active {
    color: #fea116;           
    font-weight: 600;
    border-bottom: 2px solid #fea116;
    padding-bottom: 3px;
}


.nav a:hover {
    color: #fea116;
      text-decoration: none;
}

@media (max-width: 768px) {
    .header .container {
        flex-direction: column; 
        align-items: center;
        gap: 10px;
    }
    .nav {
        flex-direction: column;
        gap: 10px;
    }
}


body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    color: #f0f0f0;
    background-color: #121212;
}
.login-container {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.login-image {
    flex: 1;
    height: 100%;
    background: url("images/login1.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    margin-right: -5px; 
}

.login-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    overflow: hidden;

    background: url("images/login.jpg") no-repeat center center;
    background-size: cover; 
}

.login-box {
    width: 360px;
    padding: 40px;
    background: rgba(18, 18, 18, 0.8); 
    backdrop-filter: blur(4px);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
}

@media (max-width: 900px) {
    .login-container {
        flex-direction: column;
        height: 100vh; 
    }

    .login-image {
        width: 100%;
        height: 50vh; 
        margin-right: 0; 
    }

    .login-form {
        width: 100%;
        height: 50vh; 
    }

    .login-box {
        width: 90%;
        padding: 30px;
    }
}
h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #fea116;
    text-transform: uppercase;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1.5px solid #f0f0f0;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background: transparent;
    border: none;
    outline: none;
    color: #f0f0f0;
}

.input-group i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #fea116;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #f0f0f0;
}

button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #fea116; 
    color: #121212; 
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin: 15px 0;
}

button:hover {
    background-color: #ffca66; 
}

p {
    color: #f0f0f0;
    text-align: center;
    font-size: small;
}

a {
    color: #fea116;
    text-decoration: none;
    font-size: small;
}

a:hover {
    text-decoration: underline;

}

.checkbox {
    transform: scale(1.3);
    margin-right: 8px;
    accent-color: #fea116;
}


@media (max-width: 768px) {
    .login-box {
        width: 90%;
        padding: 30px;
    }
}





.social-icons {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.social-icons a {
    color: #f5a623;
    font-size: 20px;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: white;
    transform: translateY(-3px);
}
